#toggle-dark-mode{
    position : fixed ;
    z-index: 1000;
    margin-top: 120px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: #004c8c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

header img {
    height: 50px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.don-btn {
    background-color: #f72664;
    color: white;
    padding: 10px 20px;
    margin-right: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.adh-btn {
    background-color: #004c8c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid white;
}

.intro {
    text-align: center;
    /*padding: 40px;*/
    background-color: white;
}

.intro h1 {
    color: #000;
    font-size: 2em;
}
/*
.info-blocks {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.info-block {
    width: 25%;
    background-color: #e0f4f8;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #000;
}

.block1 {
    background-color: #aad6df;
}

.block2 {
    background-color: #73c0db;
}

.block3 {
    background-color: #c3b5d9;
}*/

/******************************* CSS MENUS CARRES ********************************************/
.onglets{
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 2%;
}

.onglets div{
    width:21%;
    border-radius: 15px;
    box-shadow: 7px 7px 10px darkgrey;
}

.onglets div::after{
    content: '';
    padding-top:100%;
    display: block;
}

.onglets div:hover{
    opacity: 70%;
    transition-duration: 0.33s;
    font-size: 1.1em;
}


.title{
    position: absolute;
    display: flex;
    width: 21%;
    height: 100%;

    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: Arial;
}



.QuiSommesNous{
    background-color: #4385d1;
}

.Pacing{
    background-color: #a1d5ed;
}

.SFC{
    background-color: #5ab4e6;
}

.DouleurChronique{
    background-color: #abc8ff;
}

.about-section {
    padding: 40px;
    text-align: center;
    background-color: white;
}

.about-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#btnLireAussi{
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#btnLireAussi:hover{
    scale: 105%;
    background-color: #e4e4e4 ;
}

.info-blocks-large {
    padding: 20px;
    background-color: white;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
}

.association-goals {
    text-align: left;
    margin: 20px 50px;
}

.association-goals ul {
    list-style-type: disc;
    padding-left: 20px;
}

.propositions {
    background: linear-gradient(to right, #022d5d, #011E0B);
    color: white;
    padding: 40px;
    text-align: center;
    height: 125%;
}

.proposition {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.proposal-card {
    background: #b0cdff;
    color : white;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
}

.proposal-card:hover {
    scale: 110%;
    transition: 0.4s;
}

.proposal-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.note {
    padding: 30px;
    background-color: #f5f5f5;
    color : black;
    height: 50%;
    margin-top: 150px ;
    text-align: center;
}

footer {
    background-color: #e4e4e4;
    color: #000000;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #000000;
    text-decoration: none;
    font-family: Arial;
    margin: 0 14px;
}

/********************************************* RESPONSIVE DESIGN POUR ECRAN TYPE SMARTPHONE ***************************************/
@media screen and (max-width:599px) {
    /************************************** RESPONSIVE MENUS CARRES *************************************/
    .onglets {
        flex-direction: column;
    }

    .onglets div {
        width: 100%;
        margin-bottom: 2%;
        box-shadow: none;
        border-radius: 7px;
    }

    .onglets div::after {
        content: '';
        padding-top: 12%;
        display: block;

    }

    .title {
        width: 100%;
        height: 29%;
    }
}

/********************************* CSS Mode sombre ***********************************************/
body.dark-mode {
    background-color: #444444;
    color: white;
}


body.dark-mode h1{
    color: white;
}
/*
header {
    background-color: #004c8c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

body.dark-mode header {
    background-color: #021f4f;
    color: #696969;
}
body.dark-mode .about-section{
    background-color: grey;
    color: saddlebrown;
}
body.dark-mode header a{
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

body.dark-mode footer {
    background-color: #252525;

}

body.dark-mode footer a{
    color: white;
}

/* Bouton de mode sombre */
#toggle-dark-mode {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
body.dark-mode .about-section{
    background-color: #252525;
    color: white;
}

body.dark-mode .propositions{
    background: #444444;
}

body.dark-mode .proposal-card {
    background: black;
}


body.dark-mode .info-blocks-large{
    background: black;
    color: white;
}
body.dark-mode .intro{
    background: #444444;
    color: white;
}
body.dark-mode #toggle-dark-mode {
    background-color: #f72664;
}