#toggle-dark-mode{
    position : fixed ;
    z-index: 1000;
    margin-top: 120px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

/******************************* CSS NAVBAR *************************************************/

.navbar {
    position: relative;
    background: linear-gradient(to right, #022d5d, #011E0B);
    margin-bottom: 20px;
}

.navbar img {
    height: 40px;
}

.navbar a:hover {
    text-decoration: underline;
}

.header-buttons {
    position: absolute;
    display: flex;
    right: 5px;
    top: 13px;
}

.header-buttons a:hover {
    transform: scale(1.05);
    text-decoration: none;
}

/* Responsive for small screens */
@media (max-width: 991px) {
    .header-buttons {
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-bottom:10px;
    }
    .header-buttons a:hover {
        transform: scale(1.02);
    }

    .don-btn,
    .adh-btn {
        width: 100%;
        padding: 5px 10px;
        font-size: 14px;

    }
}

/******************************* BUTTON STYLES ***********************************************/
.don-btn {
    background-color: #f72664;
    color: white;
    padding: 10px 20px;
    margin: auto 20px;
    border-radius: 5px;
    text-decoration: none;
}

.adh-btn {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
}
.intro {
    text-align: center;
    /*padding: 40px;*/
    background-color: white;
}


.bold{
    font-weight: bold;
}

/******************************* CSS MENUS CARRES ********************************************/
.onglets {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 2%;
}

.onglets a {
    width: 21%;
    border-radius: 15px;
    box-shadow: 7px 7px 10px darkgrey;
    position: relative;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.onglets a:hover {
    opacity: 70%;
    transition-duration: 0.33s;
    font-size: 1.1em;
}

.onglets a::after {
    content: '';
    padding-top: 100%;
    display: block;
}

.title {
    position: absolute;
    display: flex;
    width: 100%; /* Utilise 100% pour s'ajuster à la largeur du parent */
    height: 100%;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}


.QuiSommesNous { background-color: #4385d1; }
.Pacing { background-color: #a1d5ed; }
.SFC { background-color: #5ab4e6; }
.DouleurChronique { background-color: #abc8ff; }

.about-section {
    padding: 40px;
    text-align: center;
    background-color: white;
}

.about-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#btnLireAussi{
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#btnLireAussi:hover{
    scale: 105%;
    background-color: #e4e4e4 ;
}

#blockLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 15px;;
}

#blockLinks a{
    color: #022d5d;
}

#blockLinks a:hover{
    text-decoration: underline !important;
}
.info-blocks-large {
    padding: 20px;
    background-color: white;
}

.info-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    font-weight: bold;
}

.association-goals {
    text-align: left;
    margin: 20px 50px;
}

.association-goals ul {
    list-style-type: disc;
    padding-left: 20px;
}

.propositions {
    background: linear-gradient(to right, #022d5d, #011E0B);
    color: white;
    padding: 40px;
    text-align: center;
    height: 125%;
}

.proposition {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    gap: 30px;
}

.proposal-card {
    background: #b0cdff;
    color : white;
    padding: 20px;
    border-radius: 10px;
    width: 25%;
}

.proposal-card:hover {
    scale: 107%;
    transition: 0.4s;
}

.proposal-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.note {
    padding: 30px;
    background-color: #f5f5f5;
    color : black;
    height: 50%;
    margin-top: 150px ;
    text-align: center;
}

#augmente-la-taille-text,
#reduire-la-taille-text {
    position: fixed;
    bottom: 60px;
    z-index: 1000;
    border: none;
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


#augmente-la-taille-text {
    right: 60px;
}

#reduire-la-taille-text {
    right: 10px;
}


#augmente-la-taille-text:hover,
#reduire-la-taille-text:hover {
    background-color: #555555;
    transform: scale(1.1);
}


#augmente-la-taille-text:active,
#reduire-la-taille-text:active {
    transform: scale(1.05);
    background-color: #333333;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #e4e4e4;
    color: #000000;
    padding: 20px;
    /*text-align: center;*/
}

footer a {
    color: #000000;
    text-decoration: none;
    font-family: Arial;
    margin: 0 14px;
}

footer a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
    /* Styles spécifiques pour les tablettes ou écrans de taille moyenne */
    /************************************** RESPONSIVE BLOCS PROPOSITIONS *************************************/
    .proposition {
        margin-top: 5%;
        flex-direction: column;
        align-items: center;
    }

    .proposal-card {
        width: 100%;
        margin-bottom: 20px;
    }

    footer{
        justify-content: flex-start;
    }
}

/********************************************* RESPONSIVE DESIGN FOOTER PETIT ECRAN INTERMEDIAIRE ********************************/
@media screen and (max-width:784px) {
    footer {
        flex-direction: column;
    }
}
/********************************************* RESPONSIVE DESIGN POUR ECRAN TYPE SMARTPHONE ***************************************/
@media screen and (max-width:599px) {

    /************************************** RESPONSIVE MENUS CARRES *************************************/

    .onglets {
        flex-direction: column;
    }
    footer {
        padding: 15px;
        font-size: 0.9em;
        gap: 8px;
    }

    .onglets a {
        width: 100%;
        margin-bottom: 2%;
        box-shadow: none;
        border-radius: 7px;
    }

    .onglets a::after {
        padding-top: 12%;
    }

    .title {
        width: 100%;
        height: 29%;
    }

    /************************************** RESPONSIVE BLOCS PROPOSITIONS *************************************/
    .proposition {
        margin-top: 7%;
        flex-direction: column;
        align-items: center;
    }

    .proposal-card {
        width: 100%;
        margin-bottom: 20px;
    }
}


/********************************* CSS Mode sombre ***********************************************/
body.dark-mode {
    background-color: #444444;
    color: white;
}


body.dark-mode h1{
    color: white;
}
/*
header {
    background-color: #004c8c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

body.dark-mode header {
    background-color: #021f4f;
    color: #696969;
}
body.dark-mode .about-section{
    background-color: grey;
    color: saddlebrown;
}
body.dark-mode header a{
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

body.dark-mode footer {
    background-color: #252525;

}

body.dark-mode footer a{
    color: white;
}

/* Bouton de mode sombre */
#toggle-dark-mode {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
body.dark-mode .about-section{
    background-color: #252525;
    color: white;
}

body.dark-mode #blockLinks{
    background-color: black;
}

body.dark-mode #blockLinks a{
    color: white;
}
body.dark-mode .propositions{
    background: #444444;
}

body.dark-mode .proposal-card {
    background: black;
}
body.dark-mode .note{
    background-color: #d3cfcf;
}


body.dark-mode .info-blocks-large{
    background: black;
    color: white;
}
body.dark-mode .intro{
    background: #444444;
    color: white;
}
body.dark-mode #toggle-dark-mode {
    background-color: #f72664;
}